# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
